.input {
    backdrop-filter: blur(50px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.center {
    width: 40rem;
    padding: 2rem;
    /* background: #850F8D; */
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.center h1 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

.center form {
    width: 100%;
}

.txt_field {
    position: relative;
    margin-bottom: 30px;
}

.txt_field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #C65BCF;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
    background: #151515;
    color: #fff;
}

.txt_field input:focus {
    border-color: #C65BCF;
    background-color: #2E2E2E;
    box-shadow: 0 0 5px rgba(198, 91, 207, 0.5);
}

.txt_field label {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #C65BCF;
    pointer-events: none;
    transition: 0.3s;
    font-size: 16px;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -10px;
    left: 10px;
    color: #C65BCF;
    font-size: 12px;
    background: #850F8D;
    padding: 0 5px;
    border-radius: 5px;
}

.error_message {
    color: #ff6b6b;
    font-size: 14px;
    display: none;
    margin-top: -20px;
    margin-bottom: 10px;
}

.forgot {
    margin-bottom: 20px;
    /* color: #C65BCF; */
    color: black;
    cursor: pointer;
    display: inline-block;
}

.forgot:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #C65BCF;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background-color: #850F8D;
}

.users_signup {
    margin-top: 20px;
    color: #aaa;
    font-size: 14px;
}

.users_signup a {
    color: #C65BCF;
    text-decoration: none;
    transition: color 0.3s;
}

.users_signup a:hover {
    color: #850F8D;
}